{% extends "../layout.html" %}

{% block css %}
<link rel="stylesheet" href="/css/article/new.css" />
{% endblock %}

{% block js %}
<script src="/js/article/new.js"></script>
{% endblock %}

{% block title %}
<!-- 親テンプレートで宣言されている内容を引き継いで反映する(新規作成 | MyTechBlog)となる -->
新規作成 | {{ block.Super }}
{% endblock %}

{% block content %}
<p>{{ Message }}</p>
<p>{{ Now }}</p>
<div class="l-col l-row l-v-padd">
  <div class="article-new l-row">
    <div class="article-new__form l-row">
      <!-- 外部のテンプレートファイルを読み込み -->
      {% include "./_form.html" %}
    </div>
  </div>
</div>
{% endblock %}
