a {
  text-decoration: none;
  color: inherit;
}

.header {
  background: #333;
  padding: 16px;
  color: #fff;
}

.header__logo {
  color: #fff;
}

.footer {
  background: #333;
  padding: 4px 10%;
  color: #fff;
  font-size: 16px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer__menu-item {
  list-style: none;
  padding: 2px 4px;
}

.footer__copy-right {
  text-align: center;
  color: #bbb;
}
